
/* ------------------------- alles über 1100px ----------------------- */

@media only screen and (min-width: 1000px) {
    

    /* ---- Twitch Player ---- */
    #twitchPlayer {
        width: 1156px;
    }



    /* ---- Twitch Player ---- */
    #twitchSidePanel {
    width: 400px;
    height: auto;
    }
    
    /* ---- Twitch Side Panel Navigation ---- */
    #twtichSidePanelNav {
        width: auto;
    }

    #twitchSidePanelNav ul li img {
        width: 45px;
        height: 50px;

        border-radius: 22px 22px 0 0;
    }

    /* ---- Twitch Side Panel Display Wrapper ---- */
    #twitchSidePanelDisplayWrapper {
        width: 400px;
        height: 650px;
    }

    /* ---- Twitch Side Panel Display ---- */
    #twitchSidePanelDisplay {
        width: 400px;
        height: 650px;
    }

    #twitchSidePanelDisplay-Deco {
        width: 200px;
        top: -50px;
    }

    #chat {
        width: 400px;
        height: 650px;
    }

    /* ---- Info ---- */
    #info {
        width: 400px;
    }
}

/* ------------------------ bis zu 1000px ---------------------------- */

@media only screen and (max-width: 1000px) {
    
    /* ---- Twitch Player ---- */
    #twitchPlayer {
        width: 1000px;
    }

    /* ---- Twitch Side Panel ---- */
    #twitchSidePanel {
    width: 400px;
    height: 619px;
    }

    /* ---- Twitch Side Panel Navigation ---- */
    #twtichSidePanelNav {
        width: 400px;
    }

    #twitchSidePanelNav ul li img {
        width: 50px;
        height: 70px;

        border-radius: 20px 20px 0 0;
    }

    /* ---- Twitch Side Panel Display Wrapper ---- */
    #twitchSidePanelDisplayWrapper {
        width: 400px;
        height: 619px;
    }

    /* ---- Twitch Side Panel Display ---- */
    #twitchSidePanelDisplay {
        width: 400px;
        height: 619px;
    }

    #twitchSidePanelDisplay-Deco {
        width: 200px;
        top: -50px;
        left: -10px;
    }

    /* ---- Info ---- */
    #info {
        width: 400px;
    }
}
    
/* -------------------------------------------------------------------- */

