
/* -------------- Allgemeine Einstellung -------------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

:root {
    --pink: #ffc0cb;
    --dunkelpink: #b38693;
    --gelb: #fffbc0;
    --dunkelgelb: #b3b086;
    --blau: #c0ddff;
}


/* -------------- Grundstruktur -------------- */
body {
    background-color: var(--dunkelpink);
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 100px;

    background-color: var(--pink);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* -------------- Twitch Elemente -------------- */
#twitchElemente {
    width: 100%;
    height: 723px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;

    /* background-color: aquamarine; */
}

/* Twitch Player */
#twitchPlayer {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    transform: scale(1);
    /* background-color: red; */
}

#twitchPlayer iframe {
    width: 1080px;
    height: 720px;

    border: 2px solid black;
}

/* Twitch Side Panel */
#twitchSidePanel {
    width: 400px;
    height: auto;

    /* background-color: chocolate; */
}

/* Twitch Side Panel Navigation */
#twitchSidePanelNav {
    height: 50px;
    width: 400px;

    display: flex;
    flex-direction: row-reverse;

    position: relative;

    /* background-color: brown; */
}

#twitchSidePanelNav ul {
    list-style: none;
    position: absolute;
    bottom: -25px;
}

#twitchSidePanelNav ul li {
    display: inline-flex;
    text-decoration: none;
    transition: ease-in 0.1s; 
}

#twitchSidePanelNav ul li img {
    width: 40px;
    height: 50px;
    padding: 5px;

    transition: ease-in 0.1s;
    border-radius: 20px 20px 0 0;
    background-color: color-mix(in srgb, var(--blau) 70%, black 30%);
}

#twitchSidePanelNav ul li img:hover {
    transform: translateY(-20px);
    transition: ease-out 0.1s;
    background-color: var(--blau);
}

#twitchSidePanelNav ul li img.active {
    transform: translateY(-20px);
    background-color: var(--blau);
}

/* Twitch Side Panel Display*/
#twitchSidePanelDisplay {
    width: 400px;
    height: 720px;

    position: relative;

    border: 2px solid black;
}

#twitchSidePanelDisplay-Deco {
    width: 200px;

    position: absolute;
    top: -50px;
    left: -10px;

    transform: rotate(90deg);
    z-index: 1;
}

/* Twitch Side Panel Content */
#chat iframe {
    border-style: none;
    border: none;
}

#chat {
    opacity: 1;
}

#info {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    background-color: var(--blau);
}

#gamingHistory {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    background-color: var(--blau);
}

