
/* -------------- Allgemeine Einstellung -------------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

:root {
    --pink: #ffc0cb;
    --dunkelpink: #b38693;
    --gelb: #fffbc0;
    --dunkelgelb: #b3b086;
    --blau: #c0ddff;
}


/* -------------- Grundstruktur -------------- */
body {
    margin-bottom: 100px;

    /* background-color: var(--dunkelpink); */
    background-image: url(img/background-2.png);
    background-repeat: repeat;
    background-size: 280px;

    position: relative;
}

#bodyCover {
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: 0;

    overflow: scroll;
    background-color: rgba(179, 134, 147, 0.5);
}

header {
    width: 100%;
    height: 100px;
    margin-bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    box-shadow: 2px 0 10px 0 black;
    background: rgb(179,134,147);
    background: linear-gradient(0deg, rgba(179,134,147,1) 8%, rgba(255,192,203,1) 60%, rgba(247,207,214,1) 85%);
}

main {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: relative;

    /* background-color: brown; */
}

p {
    font-size: 18px;
}

/* -------------- Twitch Elemente -------------- */
#twitchElemente {
    width: auto;
    /* height: responsiv; */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;

    transform: scale(1);

    /* background-color: aquamarine; */
}

/* -------------- Twitch Player & Controll -------------- */

/* Twitch Player & Controll Wrapper */
#twitchPlayerWrapper {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: aqua; */


}

/* Twitch Player */
#twitchPlayer {
    /* width: responsiv; */
    aspect-ratio: 16/9;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    background-color: var(--pink);
}

/* Twtich Videoplayer Controll */
#twitchPlayerControll {
    height: 60px;
    width: 100%;

    display: flex;
    /* gap: 250px; */
    /* background-color: green; */

    position: relative;
}

#twitchPlayerControll img {
    /* width: responsiv; */
}

#playPause, #soundControll {
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--blau);
}

#playPause {
    height: 100%;

    gap: 35px;

    top: 0;
    left: 100px;
}

#soundControll {
    width: auto;
    height: 100%;

    gap: 20px;

    right: 80px;
}



/* -------------- Twitch Side Panel -------------- */
#twitchSidePanel {
    width: 400px;
    /* height: responsiv; */

    display: flex;
    flex-direction: column;

    /* background-color: chocolate; */
}

/* Navigation */
#twitchSidePanelNav {
    height: 60px;
    /* width: responsiv; */

    display: flex;
    flex-direction: row-reverse;

    position: relative;

    background-color: goldenrod;
}

#twitchSidePanelNav ul {
    list-style: none;
    position: absolute;
    bottom: -25px;
}

#twitchSidePanelNav ul li {
    display: inline-flex;
    text-decoration: none;
    transition: ease-in 0.1s; 
}

#twitchSidePanelNav ul li img {
    /* width: responsiv; */
    /* height: responsiv; */
    padding: 5px;

    transition: ease-in 0.1s;
    border-radius: 20px 20px 0 0;
    background-color: color-mix(in srgb, var(--blau) 70%, black 30%);
}

#twitchSidePanelNav ul li img:hover {
    transform: translateY(-20px);
    transition: ease-out 0.1s;
    background-color: var(--blau);
}

#twitchSidePanelNav ul li img.active {
    transform: translateY(-20px);
    background-color: var(--blau);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

/* Display Wrapper for Shadow */
#twitchSidePanelDisplayWrapper {
    /* width: responsiv; */
    /* height: responsiv; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
}

#twitchSidePanelDisplayWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0px;
    pointer-events: none;
    box-shadow: inset 0 0 10px 0 black;
    z-index: 1;
}

/* Display*/
#twitchSidePanelDisplay {
    /* width: responsiv; */
    /* height: responsiv; */

    position: relative;

    border: 2px solid black;
    overflow-y: scroll;
}

#twitchSidePanelDisplay-Deco {
    /* width: responsiv; */

    position: absolute;
    /* top: responsiv; */
    left: -10px;

    pointer-events: none;
    transform: rotate(90deg);
    z-index: 10;
}

/* -------------- Twitch Side Panel Content -------------- */

/* Chat */
#chat iframe {
    border-style: none;
    border: none;
}

#chat {
    /* width: responsiv; */
    /* height: responsiv; */

    display: flex;
    background-color: var(--pink);
}


/* Info */
::-webkit-scrollbar {
    display: none;
}

#info {
    /* width: responsiv; */
    height: 100%;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 700px;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;

    overflow-y: scroll;
    background-color: var(--pink);
}

#portrait {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: chartreuse; */
}

#info img#portraitSource {
    width: 180px;

    border-radius: 50%;
}

#userBio {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: #ffc0cb; */
}

#userBioPara {
    width: 90%;
    height: 420px;
    /* background-color: #bc2cd8; */
}

#userInfo {
    width: 90%;
    height: 350px;
    /* background-color: green; */
}

#uList li {

    list-style: none;
    padding: 5px 10px;

    display: flex;
    align-items: center;     
    text-align: center;
}

.liIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* Game History */
#gamingHistory {
    width: 100%;
    min-height: 100%;

    display: none;
    flex-direction: column;
    gap: 2px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--pink);
    z-index: 0;
}

.jahrDiv {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    background-color: gray;
}

.jahrDiv p {
    color: white;
}

.jahrDivIcon {
    width: 30px;
    padding: 2px;
    background: white;
    border-radius: 50%;

    position: absolute;
    top: 8px;
    right: 5px;
    box-shadow: inset 0 0 3.5px 1px black;
    transition: transform 0.5s;
}

.gameList {
    width: 100%;
    height: auto;
}

.gameListUl {
    width: 100%;
    max-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    opacity: 0;
    list-style: none;
    transition: max-height 0.5s ease-in, opacity 0.3 ease-out;
}

.gameListUl.open {
    padding: 20px 0; 
    max-height: 100%;
    opacity: 1;
}

.gameListUl li {
    width: 85%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;

    box-shadow: 0 2px 5px 0 black;
    background-color: var(--dunkelpink);
}


/* Diverse Links im Header */
#linksBoxContainer {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    top: 0;
    right: 30px;

    /* background-color: brown; */
}

#linksBox {
    padding: 15px 30px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    border-radius: 50px;
    box-shadow: inset 0 0 10px 0 black;
    background-color: var(--dunkelpink);
}

#linksBox img {
    width: 40px;
    height: auto;
}

/* Titelname im Header */
#titelName {
    width: auto;
    height: 100%;

    display: flex;
    justify-self: center;
    align-items: center;

    position: relative;
    top: 30px;
    right: 250px;

    /* background-color: brown; */
}

@font-face {
    font-family: 'Misses';
    src: local('font-Misses'),
    url('font/misses/Misses.otf') format('otf');
}

#t-name {
    font-size: 120px;
    font-family: 'Misses';
    font-style: italic;
    font-weight: 700;
    text-shadow: 0 3px 5px black;
    color: white;
    text-shadow: 0px 5px 0 rgba(0, 0, 0, 0.25);
}